<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
	<!-- Name Column -->
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Nombre </th>
		<td mat-cell *matCellDef="let product"> {{product.name}} </td>
	</ng-container>

	<!-- Brand Column -->
	<ng-container matColumnDef="brand">
		<th mat-header-cell *matHeaderCellDef> Marca </th>
		<td mat-cell *matCellDef="let product"> {{product.brand}} </td>
	</ng-container>

	<!-- Unitary Price Column -->
	<ng-container matColumnDef="unitaryPrice">
		<th mat-header-cell *matHeaderCellDef> Precio </th>
		<td mat-cell *matCellDef="let product">
			{{product.unitaryPrice | currency}}
		</td>
	</ng-container>

	<!-- Action -->
	<ng-container *ngIf="hasAddCommand" matColumnDef="addCommand">
		<th mat-header-cell *matHeaderCellDef> Agregar </th>
		<td mat-cell *matCellDef="let product">
			<button mat-icon-button color="primary" (click)="onAddProduct(product)">
				<mat-icon aria-label="Add product">add</mat-icon>
			</button>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>