<app-huasteco-card class="huasteco" title="Alta de repartidor">
	<!--<input type="text" [(ngModel)]="test1" [value]="'hello world1'">-->
	<form fxLayout="column" [formGroup]="createUserForm" (ngSubmit)="onSubmit()" #f="ngForm">
		<mat-form-field class="form__field">
			<input matInput type="text" formControlName="companyName" placeholder="Compañia" readonly>
		</mat-form-field>
		<div fxLayout="row">
			<div fxLayout="column" fxFlex="70%">
				<mat-form-field class="form__field">
					<input matInput type="text" formControlName="username" placeholder="Nombre de usuario" required>
					<mat-hint class="form__field--error" align="start" *ngIf="controlHasError('username', 'required' )">El campo es obligatorio
					</mat-hint>
				</mat-form-field>
				<mat-form-field class="form__field">
					<input matInput type="text" formControlName="firstName" placeholder="Nombre(s)" required>
					<mat-hint class="form__field--error"  align="start" *ngIf="controlHasError('firstName', 'required' )">El campo es obligatorio</mat-hint>
				</mat-form-field>
				<mat-form-field class="form__field">
					<input matInput type="text" formControlName="lastName" placeholder="Apellidos" required>
					<mat-hint class="form__field--error"  align="start" *ngIf="controlHasError('lastName', 'required' )">El campo es obligatorio
					</mat-hint>
				</mat-form-field>
				<mat-form-field class="form__field">
					<input matInput type="text" formControlName="email" placeholder="Correo" required>
					<mat-hint class="form__field--error"  align="start" *ngIf="controlHasError('email', 'required' )">El campo es obligatorio</mat-hint>
					<mat-hint class="form__field--error"  align="start" *ngIf="controlHasError('email', 'email' )">El campo debe ser un correo válido
					</mat-hint>
				</mat-form-field>
				<mat-form-field class="form__field">
					<input matInput type="text" formControlName="phoneNumber" placeholder="Teléfono" required>
					<mat-hint class="form__field--error"  align="start" *ngIf="controlHasError('phoneNumber', 'required' )">El campo es obligatorio
					</mat-hint>
					<mat-hint class="form__field--error"  align="start" *ngIf="controlHasError('phoneNumber', 'pattern' )">Número inválido</mat-hint>
				</mat-form-field>
			</div>
			<div fxLayout="column" fxFlex="30%" fxLayoutAlign="top center">
				<app-huasteco-upload-picture (select)="onSelectImage($event)" [defaultImage]="defaultPictureImage"></app-huasteco-upload-picture>
				<p>Seleccione la foto</p>
			</div>
		</div>

		<div>
			<button [disabled]="!f.valid || isSubmitting" mat-button type="submit">Enviar</button>
		</div>
	</form>
</app-huasteco-card>
