<div fxLayout="row" fxLayoutAlign="left" fxLayoutGap="20px">
	<mat-radio-group fxLayoutGap="10px" fxLayout="column" fxFlex="20%">
		<mat-radio-button
				name="findBy"
				title="Buscar por teléfono del cliente"
				[value]="FindPersonEnum.phoneNumber"
				(change)="onChangePersonType($event)" checked>
			Teléfono
		</mat-radio-button>
		<mat-radio-button
				name="findBy"
				title="Buscar por nombre del cliente"
				[value]="FindPersonEnum.name"
				(change)="onChangePersonType($event)">
			Nombre
		</mat-radio-button>
	</mat-radio-group>

	<mat-form-field fxFlex="80%">
		<input matInput name="search"
			   type="text" placeholder="Buscar cliente"
			   (keyup)="onChangeSearch($event.target.value)">
	</mat-form-field>
</div>
