<app-huasteco-card class="huasteco" title="Inicio de sesión">
	<form fxLayout="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()" #f="ngForm">
		<mat-form-field class="form__field">
			<input matInput type="text" formControlName="username" placeholder="Nombre de usuario" required>
			<mat-hint class="form__field--error" align="start" *ngIf="controlHasError('username', 'required' )">El campo es obligatorio
			</mat-hint>
		</mat-form-field>
		<mat-form-field class="form__field">
			<input matInput type="password" formControlName="password" placeholder="Clave" required>
			<mat-hint class="form__field--error" align="start" *ngIf="controlHasError('password', 'required' )">El campo es obligatorio
			</mat-hint>
		</mat-form-field>
		<div>
			<button [disabled]="!f.valid || isSubmitting" mat-raised-button type="submit">Enviar</button>
		</div>
	</form>
</app-huasteco-card>
