<app-huasteco-card class="huasteco" title="Definir clave para {{username}}">
	<mat-horizontal-stepper [linear]="isLinear" #stepper>
		<mat-step [stepControl]="temporaryPasswordForm">
			<form class="form" fxLayout="column" [formGroup]="temporaryPasswordForm"
				  (ngSubmit)="onSubmitTemporaryPasswordForm()" #tempForm="ngForm">
				<ng-template matStepLabel>Ingresa tu clave temporal</ng-template>
				<mat-form-field class="form_field">
					<input matInput type="text" formControlName="username" placeholder="Usuario" required readonly>
				</mat-form-field>
				<mat-form-field>
					<input matInput type="password" formControlName="password" placeholder="Clave temporal">
					<mat-hint class="form__field--error" align="start"
							  *ngIf="controlHasError(temporaryPasswordForm,'password', 'required' )">
						La clave es requerida
					</mat-hint>
					<mat-hint class="form__field--error" align="start"
							  *ngIf="controlHasError(temporaryPasswordForm,'password', 'minlength' )">
						{{minPasswordLength}} caracteres mínimo
					</mat-hint>
				</mat-form-field>
				<div>
					<button [disabled]="!tempForm.valid" mat-button matStepperNext>Siguiente</button>
				</div>
			</form>
		</mat-step>
		<mat-step [stepControl]="confirmPasswordForm">
			<form class="form" fxLayout="column" [formGroup]="confirmPasswordForm" (ngSubmit)="onSubmitSecondForm()"
				  #confirmForm="ngForm">
				<ng-template matStepLabel>Ingresa tu nueva clave</ng-template>
				<mat-form-field class="form__field">
					<input matInput type="password" formControlName="password" placeholder="Nueva clave" required>
					<mat-hint class="form__field--error" align="start"
							  *ngIf="controlHasError(confirmPasswordForm,'password', 'required' )">La
						clave es requerida
					</mat-hint>
					<mat-hint class="form__field--error" align="start"
							  *ngIf="controlHasError(confirmPasswordForm,'password', 'minlength' )">
						{{minPasswordLength}} caracteres mínimo
					</mat-hint>
				</mat-form-field>
				<mat-form-field class="form__field">
					<input matInput type="password" formControlName="passwordConfirm" placeholder="Confirmar nueva clave" required>
					<mat-hint class="form__field--error" align="start"
							  *ngIf="controlHasError(confirmPasswordForm,'passwordConfirm', 'required' )">
						La clave es requerida
					</mat-hint>
					<mat-hint class="form__field--error" align="start"
							  *ngIf="controlHasError(confirmPasswordForm,'passwordConfirm', 'minlength' )">
						{{minPasswordLength}} caracteres mínimo
					</mat-hint>
					<mat-hint class="form__field--error" align="start"
							  *ngIf="controlHasError(confirmPasswordForm,'passwordConfirm', 'MatchPassword' )">
						Claves no coinciden
					</mat-hint>
				</mat-form-field>
				<div>
					<button mat-button matStepperPrevious>Anterior</button>
					<button mat-button matStepperNext [disabled]="!confirmForm.valid || isSubmitting" (click)="onChangePassword()">Enviar</button>
				</div>
			</form>
		</mat-step>
	</mat-horizontal-stepper>
</app-huasteco-card>
