<div class="huasteco">
	<form class="form" fxFlex="100%" fxLayout="column">
		<app-huasteco-find-person #findPerson
								  [findConfiguration]="findPersonConfiguration">
		</app-huasteco-find-person>
	</form>
</div>