<div class="huasteco">
	<div *ngIf="user.username"
		 fxLayout="row"
		 fxLayoutAlign="space-between"
		 fxLayout.lt-sm="column"
	>
		<div fxFlex="60%"><h2 class="header__company">{{user.company.name}}</h2></div>
		<div fxFlex="40%"><h2 class="header__username">Bienvenido {{user.username}}</h2></div>
	</div>
</div>
