/* You can add global styles to this file, and also import other style files */
/*
*/
@import "../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "./_variables.scss";

html, body {
  height: 100%;
}

body { margin: 0; font-family: 'Roboto', sans-serif; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}


.huasteco {

  // general
  .generic-container {
  }

  // forms
  .form {

  }

  .form__field {
    margin-bottom: 0.6em;
  }

  .form__field--error {
    color: $warn;
  }

  .selected-item {
    background: rgba(0, 0, 0, .04);
  }

}


