<div fxLayout="row" fxLayoutAlign="space-between">
	<div *ngIf="customer" fxLayout="column">
		<div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
			<mat-icon matListIcon>face</mat-icon>
			<div>{{customer.fullName}}</div>
		</div>
		<div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
			<mat-icon matListIcon>phone</mat-icon>
			<div>{{customer.phoneNumber}}</div>
		</div>
	</div>
	<div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start start">
		<mat-icon matListIcon>home</mat-icon>
		<div *ngIf="address" fxLayout="column">
			<div>{{address.street}} {{address.number}}</div>
			<div>{{address.suburb}} C.P:{{address.postalCode}}</div>
			<div>{{address.locality}}, {{address.state}}</div>
		</div>
	</div>
</div>


