<mat-nav-list role="list">
  <mat-list-item *ngFor="let address of addresses"
                 [ngClass]="{'selected-item': selectedAddressId === address.id }"
                 (click)="onSelectAddress(address)"
                 role="listitem">
    <mat-icon matListIcon>home</mat-icon>
    <h3 matLine>{{address.street}} {{address.number}}</h3>
    <h3 matLine>{{address.suburb}} C.P. {{address.postalCode}}</h3>
    <h3 matLine>{{address.locality}} {{address.state}}</h3>
  </mat-list-item>
</mat-nav-list>
