<mat-nav-list role="list">
	<mat-list-item *ngFor="let person of persons"
				   [ngClass]="{'selected-item': selectedPersonId === person.id}"
				   (click)="onSelectPerson(person)"
				   role="listitem">
		<mat-icon matListIcon>face</mat-icon>
		<h3 matLine>{{person.fullName}}</h3>
		<p matLine [innerHTML]='highlight(person.phoneNumber) | safeHtml'></p>
	</mat-list-item>
</mat-nav-list>

