<app-huasteco-card class="huasteco" title="Registro de usuario">
	<form fxLayout="column" [formGroup]="createUserForm" (ngSubmit)="onSubmit()" #f="ngForm">
		<mat-form-field class="form__field">
			<input matInput type="text" formControlName="username" placeholder="Nombre de usuario" required>
			<mat-hint align="start" *ngIf="controlHasError('username', 'required' )">El campo es obligatorio
			</mat-hint>
		</mat-form-field>
		<mat-form-field class="form__field">
			<input matInput type="text" formControlName="firstName" placeholder="Nombre(s)" required>
			<mat-hint align="start" *ngIf="controlHasError('firstName', 'required' )">El campo es obligatorio</mat-hint>
		</mat-form-field>
		<mat-form-field class="form__field">
			<input matInput type="text" formControlName="lastName" placeholder="Apellidos" required>
			<mat-hint align="start" *ngIf="controlHasError('lastName', 'required' )">El campo es obligatorio
			</mat-hint>
		</mat-form-field>
		<mat-form-field>
			<mat-select matInput placeholder="Grupo" formControlName="group" required>
				<mat-option *ngFor="let group of groups"  [value]="group.id">
					{{group.name}}
				</mat-option>
			</mat-select>
			<mat-hint align="start" *ngIf="controlHasError('group', 'required' )">El campo es obligatorio</mat-hint>
		</mat-form-field>
		<mat-form-field class="form__field">
			<input matInput type="text" formControlName="email" placeholder="Correo" required>
			<mat-hint align="start" *ngIf="controlHasError('email', 'required' )">El campo es obligatorio</mat-hint>
			<mat-hint align="start" *ngIf="controlHasError('email', 'email' )">El campo debe ser un correo válido
			</mat-hint>
		</mat-form-field>
		<mat-form-field class="form__field">
			<input matInput type="text" formControlName="phoneNumber" placeholder="Teléfono" required>
			<mat-hint align="start" *ngIf="controlHasError('phoneNumber', 'required' )">El campo es obligatorio
			</mat-hint>
			<mat-hint align="start" *ngIf="controlHasError('phoneNumber', 'pattern' )">Número inválido</mat-hint>
		</mat-form-field>
		<div>
			<button [disabled]="!f.valid || isSubmitting" mat-button type="submit">Enviar</button>
		</div>
	</form>
</app-huasteco-card>
