<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
	<!-- Action -->
	<ng-container matColumnDef="editCommand" *ngIf="hasEdit">
		<th mat-header-cell *matHeaderCellDef> Editar </th>
		<td mat-cell *matCellDef="let orderProduct">
			<button mat-icon-button color="primary" (click)="onEditProduct(orderProduct)">
				<mat-icon aria-label="Edit order">edit</mat-icon>
			</button>
		</td>
		<td mat-footer-cell *matFooterCellDef></td>
	</ng-container>

	<!-- Action -->
	<ng-container matColumnDef="deleteCommand" *ngIf="hasDelete">
		<th mat-header-cell *matHeaderCellDef> Borrar </th>
		<td mat-cell *matCellDef="let orderProduct">
			<button mat-icon-button color="warn" (click)="onRemoveProduct(orderProduct)">
				<mat-icon aria-label="Edit order">delete_outline</mat-icon>
			</button>
		</td>
		<td mat-footer-cell *matFooterCellDef></td>
	</ng-container>

	<!-- Name Column -->
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Nombre </th>
		<td mat-cell *matCellDef="let orderProduct"> {{orderProduct.product.name}} </td>
		<td mat-footer-cell *matFooterCellDef></td>
	</ng-container>

	<!-- Brand Column -->
	<ng-container matColumnDef="brand">
		<th mat-header-cell *matHeaderCellDef> Marca </th>
		<td mat-cell *matCellDef="let orderProduct"> {{orderProduct.product.brand}} </td>
		<td mat-footer-cell *matFooterCellDef></td>
	</ng-container>

	<!-- Unitary Price Column -->
	<ng-container matColumnDef="unitaryPrice">
		<th mat-header-cell *matHeaderCellDef> Precio </th>
		<td mat-cell *matCellDef="let orderProduct">
			{{orderProduct.product.unitaryPrice | currency}}
		</td>
		<td mat-footer-cell *matFooterCellDef></td>
	</ng-container>

	<!-- Quantity Column -->
	<ng-container matColumnDef="quantity">
		<th mat-header-cell *matHeaderCellDef> Cantidad </th>
		<td mat-cell *matCellDef="let orderProduct">
			{{orderProduct.quantity}}
		</td>
		<td mat-footer-cell *matFooterCellDef>Total</td>
	</ng-container>



	<!-- Subtotal Column -->
	<ng-container matColumnDef="subtotal">
		<th mat-header-cell *matHeaderCellDef> Total </th>
		<td mat-cell *matCellDef="let orderProduct">
			{{orderProduct.subtotal | currency}}
		</td>
		<td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>