<div class="huasteco">
	<app-huasteco-card class="generic-container" title="Nuevo pedido">
		<form class="form" fxFlex="100%" fxLayout="column">
			<app-huasteco-search-person-input #searchPersonInput>
			</app-huasteco-search-person-input>

			<app-huasteco-person-list  #personList
					[persons]="state.persons"
					[highlightedText]="state.search">
			</app-huasteco-person-list>

			<app-huasteco-address-list #addressList
					[addresses]="state.addresses"
					(selectAddress)="onSelectAddress($event)" >
			</app-huasteco-address-list>
		</form>
	</app-huasteco-card>
</div>