<div [formGroup]="parts">
	<input class="internationalCode" formControlName="internationalCode" size="2">
	<span>&ndash;</span>
	<input class="areaCode" formControlName="areaCode" size="3">
	<span>&ndash;</span>
	<input class="subscriber" formControlName="subscriber" size="7">
</div>