<div class="huasteco">
	<form action="">
		<ng-template matStepLabel>Confirmar</ng-template>
		<h3>Enviar a:</h3>
		<app-huasteco-card>
			<app-huasteco-customer-info
					[customer]="customer"
					[address]="address">
			</app-huasteco-customer-info>
		</app-huasteco-card>
		<h3>Productos:</h3>
		<app-huasteco-products-order-list
				[order]="order"
				[hasEdit]="false"
				[hasDelete]="false">
		</app-huasteco-products-order-list>
	</form>
</div>