<h2 mat-dialog-title>Confirmar producto</h2>
<mat-dialog-content>
	<form fxLayout="column" [formGroup]="confirmProductForm" (ngSubmit)="onSubmit()"  #f="ngForm">
		<mat-form-field>
			<input matInput type="text" formControlName="name" placeholder="Producto">
		</mat-form-field>

		<mat-form-field>
			<input matInput type="text" formControlName="brand" placeholder="Marca">
		</mat-form-field>

		<mat-form-field>
			<input matInput type="text" [value]="confirmProductForm.get('unitaryPrice').value | currency" formControlName="unitaryPrice" placeholder="Precio">
		</mat-form-field>

		<mat-form-field>
			<input matInput type="text" formControlName="quantity" placeholder="Cantidad">
		</mat-form-field>
	</form>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-button mat-dialog-close>Cancelar</button>
	<!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
	<button mat-button [disabled]="!f.valid" [mat-dialog-close]="getEnteredProduct()">Confirmar</button>
</mat-dialog-actions>
