<div class="huasteco">
	<app-huasteco-card class="generic-container" title="Alta de cliente">
		<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px"  fxLayoutGap.lt-sm="1px">
			<form class="form" fxFlex="45%" fxLayout="column" [formGroup]="createCustomerForm" (ngSubmit)="onSubmit()"
				  #f="ngForm">
				<mat-form-field class="form__field">
					<input matInput type="text" formControlName="firstName" placeholder="Nombre(s)" required>
					<mat-hint class="form__field--error" align="start"
							  *ngIf="controlHasError('firstName', 'required' )">
						{{requiredFieldMessage}}
					</mat-hint>
				</mat-form-field>
				<mat-form-field class="form__field">
					<input matInput type="text" formControlName="lastName" placeholder="Apellidos" required>
					<mat-hint class="form__field--error" align="start" *ngIf="controlHasError('lastName', 'required' )">
						{{requiredFieldMessage}}
					</mat-hint>
				</mat-form-field>

				<mat-form-field>
					<mat-select (selectionChange)="onSelectState($event)" matInput placeholder="Estado" formControlName="state" required>
						<mat-option *ngFor="let state of states"  [value]="state.id">
							{{state.name}}
						</mat-option>
					</mat-select>
					<mat-hint align="start" *ngIf="controlHasError('state', 'required' )">El campo es obligatorio</mat-hint>
				</mat-form-field>

				<mat-form-field>
					<mat-select (selectionChange)="onSelectLocality($event)" matInput placeholder="Ciudad"
								formControlName="locality" required>
						<mat-option *ngFor="let city of cities"  [value]="city.id">
							{{city.name}}
						</mat-option>
					</mat-select>
					<mat-hint align="start" *ngIf="controlHasError('locality', 'required' )">El campo es obligatorio</mat-hint>
				</mat-form-field>

				<mat-form-field>
					<mat-select (selectionChange)="onSelectDistrict($event)" matInput placeholder="Colonia"
								formControlName="suburb" required>
						<mat-option *ngFor="let district of districts"  [value]="district.id">
							{{district.name}}
						</mat-option>
					</mat-select>
					<mat-hint align="start" *ngIf="controlHasError('suburb', 'required' )">El campo es obligatorio</mat-hint>
				</mat-form-field>

				<div fxFlex="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
					<mat-form-field fxFlex="45%" class="form__field">
						<input matInput (change)="updateMap()" type="text" formControlName="street" placeholder="Calle" required>
						<mat-hint class="form__field--error" align="start" *ngIf="controlHasError('street', 'required' )">
							{{requiredFieldMessage}}
						</mat-hint>
					</mat-form-field>
					<mat-form-field fxFlex="23%" class="form__field">
						<input matInput (change)="updateMap()" type="text" formControlName="number" placeholder="Número" required>
						<mat-hint class="form__field--error" align="start" *ngIf="controlHasError('number', 'required' )">
							{{requiredFieldMessage}}
						</mat-hint>
					</mat-form-field>
					<mat-form-field fxFlex="23%" class="form__field">
						<input matInput type="text" formControlName="insideNumber" placeholder="Interior">
					</mat-form-field>
				</div>

				<!--
				<mat-form-field class="form__field">
					<input matInput (change)="updateMap()" type="text" formControlName="suburb" placeholder="Colonia" required>
					<mat-hint class="form__field--error" align="start" *ngIf="controlHasError('suburb', 'required' )">
						{{requiredFieldMessage}}
					</mat-hint>
				</mat-form-field>
				-->

				<div fxFlex="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
					<!--<app-huasteco-telephone fxFlex="60%"></app-huasteco-telephone>-->
					<mat-form-field fxFlex="60%" class="form__field">
						<input matInput type="text" formControlName="phoneNumber" placeholder="Teléfono" required>
						<mat-hint class="form__field--error" align="start" *ngIf="controlHasError('phoneNumber', 'required' )">El campo es obligatorio
						</mat-hint>
						<mat-hint class="form__field--error" align="start" *ngIf="controlHasError('phoneNumber', 'pattern' )">Número inválido</mat-hint>
					</mat-form-field>
					<mat-form-field fxFlex="40%" class="form__field">
						<input matInput (change)="updateMap()" type="number"
							   formControlName="postalCode"
							   placeholder="Código postal"
							   readonly="true"
							   minLength=5 required>
						<mat-hint class="form__field--error" align="start" *ngIf="controlHasError('postalCode', 'minLength' )">
							El código postal debe tener 5 caracteres mínimo
						</mat-hint>
						<mat-hint class="form__field--error" align="start" *ngIf="controlHasError('postalCode', 'minlength' )">
							El código postal debe tener 5 caracteres máximo
						</mat-hint>
						<mat-hint class="form__field--error" align="start" *ngIf="controlHasError('postalCode', 'required' )">
							{{requiredFieldMessage}}
						</mat-hint>
					</mat-form-field>
				</div>

				<!--
				<mat-form-field class="form__field">
					<input matInput (change)="updateMap()" type="text" formControlName="locality" placeholder="Ciudad" required>
					<mat-hint class="form__field--error" align="start" *ngIf="controlHasError('locality', 'required' )">
						{{requiredFieldMessage}}
					</mat-hint>
				</mat-form-field>
				-->



				<mat-form-field class="form__field">
					<input (change)="updateMap()" matInput type="text" formControlName="country" placeholder="País" required>
					<mat-hint class="form__field--error" align="start" *ngIf="controlHasError('country', 'required' )">
						{{requiredFieldMessage}}
					</mat-hint>
				</mat-form-field>

				<mat-card-actions>
					<button mat-button [disabled]="!f.valid || isSubmitting" type="submit">GUARDAR</button>
				</mat-card-actions>
			</form>
			<!--<mat-divider fxFlex="1%" [vertical]="true"></mat-divider>-->
			<app-huasteco-map fxFlex="54%" [latitude]="latitude" [longitude]="longitude"></app-huasteco-map>
		</div>
	</app-huasteco-card>
</div>
