<div class="huasteco">
	<app-huasteco-card class="generic-container" title="Nuevo pedido">
		<mat-horizontal-stepper [linear]="isLinear" #stepper>
			<ng-template matStepperIcon="edit">
				<mat-icon>check</mat-icon>
			</ng-template>
			<mat-step>
				<ng-template matStepLabel>Cliente</ng-template>
				<app-huasteco-orders-create-select-customer
						(clearCustomer)="onClearCustomer()"
						(selectCustomer)="onSelectCustomer($event)">
				</app-huasteco-orders-create-select-customer>
				<div class="footer-step-actions">
					<button [disabled]="!state.customer || !state.address" mat-raised-button matStepperNext>Siguiente</button>
				</div>
			</mat-step>
			<mat-step>
				<form action="">
					<ng-template matStepLabel>Productos</ng-template>
					<app-huasteco-orders-create-select-products></app-huasteco-orders-create-select-products>
				</form>
				<div class="footer-step-actions">
					<button mat-raised-button matStepperPrevious>Anterior</button>
					<button  mat-raised-button matStepperNext>Siguiente</button>
				</div>
			</mat-step>
			<mat-step>
				<form action="">
					<ng-template matStepLabel>Carrito</ng-template>
					<app-huasteco-create-shopping-cart></app-huasteco-create-shopping-cart>
				</form>
				<div class="footer-step-actions">
					<button mat-raised-button matStepperPrevious>Anterior</button>
					<button  mat-raised-button matStepperNext>Siguiente</button>
				</div>
			</mat-step>
			<mat-step>
				<app-huasteco-create-confirm-order
					[customer]="state.customer"
					[address]="state.address">
				</app-huasteco-create-confirm-order>
				<div class="footer-step-actions">
					<button mat-raised-button matStepperPrevious>Anterior</button>
					<button mat-raised-button matStepperPrevious>Crear orden</button>
				</div>
			</mat-step>
		</mat-horizontal-stepper>
	</app-huasteco-card>
</div>