<mat-sidenav-container class="sidenav-container">
	<mat-sidenav
			#drawer
			class="sidenav"
			fixedInViewport="true"
			[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
			[mode]="(isHandset$ | async) ? 'over' : 'side'"
			[opened]="!(isHandset$ | async)">
		<mat-toolbar color="primary">Menu</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item  *ngFor="let item of menu" [routerLink]="item.paths">{{item.label}}</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button
					type="button"
					aria-label="Toggle sidenav"
					mat-icon-button
					(click)="drawer.toggle()"
					*ngIf="isHandset$ | async">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<app-huasteco-header></app-huasteco-header>
		</mat-toolbar>
		<!-- Add Content Here -->
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>


