.upload-picture {
  padding-left: 15px
}

  .upload-picture__photo {
    width: 120px;
    height: 120px;
  }

  .upload-picture__file {
    background-color: lightgoldenrodyellow;
    width: 100%;
  }

  .upload-picture__progress {
    width: 80%;
  }