<div class="upload-picture" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
	<img class="upload-picture__photo" [src]="imageURL" alt="User">
	<input class="upload-picture__file"
		   [disabled]="isLoading"
		   accept="image/*" type="file" (change)="onFileSelected($event.target.files)" />
	<div *ngIf="isLoading"
		 class="upload-picture__progress"
		 fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
		<mat-progress-bar mode="buffer"></mat-progress-bar>
		<div>Subiendo..</div>
	</div>

</div>
