<div fxLayout="column" class="full-height">
  <div fxFlex="1 1 100%" #map class="full-height">
	  <agm-map [style.height.px]="map.offsetHeight"
			   [latitude]="latitude"
			   [longitude]="longitude"
			   [zoom]="zoom || defaultZoom"
	  >
		  <agm-marker
				  [latitude]="latitude"
				  [longitude]="longitude"
		  ></agm-marker>
	  </agm-map>
  </div>
</div>
